@import "../../global.scss";

//Main portfolio container; individual portfolio items under class item
.portfolio {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("https://nates.vercel.app/assets/portwaves.svg");
    background-size: 100vw;

    @include mobile {
        background-image: unset;
    }

    h1 {
        font-size: 50px;
        color: white;

        @include mobile {
            font-style: 20px;
        }
    }

    ul {
        margin: 10px;
        padding: 0;
        list-style: none;
        display: flex;

        @include mobile {
            margin: 10px 0;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    .container {
        width: 80vw;
        display: flex;
        align-items: center;
        margin: 0px auto;

        justify-content: space-evenly;

        a {
            text-decoration: none;
            margin-left: 0px;
        }

        h1 {
            margin-top: 100px;
        }

        @include mobile {
            width: 100%;
            margin: 10px;
            flex-wrap: wrap;
        }

        .item {
            width: 20vw;
            height: 30vh;
            border-radius: 20px;
            border: 1px solid lightgray;
            margin: 10px 20px;
            align-items: center;
            justify-content: center;
            color: white;
            position: relative;
            overflow: hidden;
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
            transition: all .6s ease;



            @include mobile {
                width: 130px;
                height: 100px;

            }

            h3 {
                margin-top: -120px;
                margin-left: 10px;
                position: absolute;

                font-size: 20px;
                opacity: 0;

            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
                z-index: 1;
            }

            &:hover {
                background-color: $mainColor;

                h3 {
                    opacity: 1;

                    @include mobile {
                        font-size: 14px;
                    }
                }

                img {
                    z-index: 3;
                    opacity: 0.2;
                }
            }
        }
    }

}

//Modal
.modalBtn button {
    justify-content: center;
    font-size: 10px;

}

.btnContainer {
    width: 93%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0px;

    @include mobile {
        display: none;
    }
}

a {
    margin: 10px;
    text-decoration: none;
    overflow: hidden;
    font-size: 14px;
    color: white;
}

.rounded {
    border-radius: 15px;
    align-self: center;
}

.modalContents {
    overflow: hidden
}

.modalBackdrop {
    backdrop-filter: blur(5px);
}

.linkWrap {
    overflow: hidden;
}