@import "../../global.scss";

.contact {
    background-color: white;
    display: flex;



    .left {
        flex: 1;
        overflow: hidden;
        width: 100%;
        height: 100%;

        @include mobile {
            flex: 0;
        }

        img {
            height: 100%;
            margin: 0px -250px;

            @include mobile {
                display: none;
            }

        }
    }

    .right {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include mobile {
            width: 100vw;
        }

        h2 {
            font-size: 40px;
        }

        form {
            width: 70%;
            height: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;


            input[type=text]:focus {
                background-color: rgb(222, 231, 252);
            }

            input {
                width: 300px;
                height: 30px;
                font-size: 14px;



                @include mobile {
                    width: 200px;
                    height: 20px;
                }

            }

            textarea {
                width: 300px;
                height: 200px;
                font-size: 14px;
                border-radius: 10px;

                &:focus {
                    background-color: rgb(222, 231, 252);
                }

                @include mobile {
                    width: 200px;
                    height: 200px;
                    margin-top: -45px;
                }
            }

            button {
                width: 150px;
                height: 30px;
                color: white;
                background-color: $secColor;
                border: none;
                border-radius: 10px;
                font-weight: 700;
                cursor: pointer;

                &:focus {
                    outline: none;
                }

                &:hover {
                    font-weight: 900;
                    border: 1px solid black;
                    opacity: .8;
                }
            }

            span {
                font-weight: bold;
            }
        }
    }
}