$mainColor: #10243d;
$secColor: rgb(20, 83, 220);

$width: 768px;
$width2: 1600px;
$width3: 1200px;

@mixin mobile {
    @media (max-width: #{$width}) {
        @content
    }
}

;

@mixin med {
    @media (max-width: #{$width3}) {
        @content
    }
}

;

@mixin tablet {
    @media (max-width: #{$width2}) {
        @content
    }
}